*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* fonts are pending */

:root {
    --primary-color: #00b0ff;
    --body-bg-color: #f3f4f6;
    --max-width: 1170px;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --fixed-width: 620px;
    --bg-color: #f5f5f5;
    --text-color: #0f0d1c;
    --white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --transition: all 0.3s linear;
    --hoverLink: #ccefff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #9d9d9d;
}

.section-center {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
